@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  font-weight: 300;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

nav {
  z-index: 50;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background-color: white;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.bar-icon {
  font-size: 32px;
}

.hero {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag {
  align-self: flex-start;
  color: white;
  background-image: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  padding: 5px 10px;
}

.hero-content h1 {
  font-size: 90px;
  font-weight: 400;
  line-height: 1.2;
}

.explore-button {
  color: white;
  align-self: flex-start;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}

.hero-content p {
  font-weight: 200px;
  font-weight: 500;
}

.features {
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 20px;
}

.feature {
  padding: 15px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.feature img {
  width: 72px;
}

.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider {
  margin: 20px 0;
  border: 2px solid #ccc;
}

.tag1 {
  align-self: center;
  color: black;
  background-image: linear-gradient(to right, #FFD194, #D1913C);
  padding: 5px 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  align-items: center;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}

.item2 {
  grid-area: I2;
}

.item3 {
  grid-area: I3;
}

.item4 {
  grid-area: I4;
}

.item5 {
  grid-area: I5;
}

.item6 {
  grid-area: I6;
}

.item7 {
  grid-area: I7;
}

.grid-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.grid-image:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

footer {
  background-image: linear-gradient(to right, #ff512f, #f09819);
}

.footer-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.link-list h3 {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.721);
}

.link-list ul {
  list-style: none;
}

.link-list ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.news-letter input {
  padding: 5px 40px;
  margin-bottom: 10px;
}

.icon-container {
  gap: 15px;
  font-size: 32px;
}
.news-letter{
  padding: 10px;
  gap: 30px;
}
@media (max-width: 786px) {
  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }

  .hero_image img {
    width: 80%;
  }

  .hero_content {
    gap: 10px;

    padding: 0 20px;
  }

  .hero_content h1 {
    font-size: 32px;
  }

  .features {
    flex-direction: column;
  }

  .feature {
    flex-direction: column;
  }

  .grid {
    padding: 10px;
  }

  footer {
    flex-direction: column;
  }
}
a{
  color: black;
  font-weight: bolder;
}
